
<ion-content class="appBg">
    <!----------------   Logo image Container ------------->
    <div class="logoContainer">
      <ion-icon src="../../../assets/imgs/driveme_logo.svg"></ion-icon>
    </div>
  
  
     <!--------------   Login button component -------------> 
    <ion-row class="appButton">
      <ion-col  size-xs="8" size-sm="7" size-md="6" size-lg="5" size-xl="3">
        <app-button  [title]="login_page_words?.login_with_facebook" (click)="Login()"></app-button>
      </ion-col>
    </ion-row>
    
     
  </ion-content>
  