
<ion-header no-border no-shadow>
  <ion-toolbar>
      <ion-buttons  slot="start">
          <ion-button >
            <ion-icon ></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>{{this.home_page_words?.title_page}}</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="appBg">
   

      <!-- ============================================================================================================ -->
      <!-- ================================   Departure searchbar  ==================================================== -->
      <!-- ============================================================================================================ -->
      <ion-label class="searchLabels">{{this.home_page_words?.select_departure}}</ion-label>
   
        <ion-searchbar [(ngModel)]="this.location.departure.input" (ionInput)="this.location.updateSearchDepartureResults()"  
          (ionClear)="this.location.clearDepartureList()"  placeholder="Select departure place"></ion-searchbar>

        <ion-list [hidden]="this.location.autocompleteDeparture.length == 0">
            <ion-item  *ngFor="let item of this.location.autocompleteDeparture" tappable (click)="this.location.selectSearchDepartureResult(item)">
              {{ item.description }}
            </ion-item>
        </ion-list>
  
  
      <!-- ============================================================================================================ -->
      <!-- ================================   Destination searchbar  ================================================== -->
      <!-- ============================================================================================================ -->
      <ion-label class="searchLabels">{{this.home_page_words?.select_destination}}</ion-label>
      <ion-searchbar [(ngModel)]="this.location.destination.input" (ionInput)="this.location.updateSearchDestinationResults()" 
            (ionClear)="this.location.clearDestinationList()" placeholder="Select destination place"></ion-searchbar>

      <ion-list  [hidden]="this.location.autocompleteDestination.length == 0">
          <ion-item  *ngFor="let item of this.location.autocompleteDestination" tappable (click)="this.location.selectSearchDestinationResult(item)">
            {{ item.description }}
          </ion-item>
      </ion-list>
      <!-- ============================================================================================================ -->
      <!-- ==============================   Button to start the trip  ================================================= -->
      <!-- ============================================================================================================ -->
      <ion-row class="appButton">  
          <ion-col  size-xs="8" size-sm="7" size-md="6" size-lg="5" size-xl="3">
            <app-button type="submit" [title]="this.home_page_words?.start_trip"  (click)="goToMap()"></app-button>
          </ion-col>
      </ion-row>
    

</ion-content>
