
<ion-header no-border no-shadow>
  <ion-toolbar>
    <!-- <ion-title>home</ion-title> -->
    <ion-buttons  slot="end">
      <ion-button (click)="Logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="appBg">
    <!-- ============================================================================================================ -->
    <!-- ================================   Departure searchbar  ==================================================== -->
    <!-- ===========================================================================================(ionBlur)="clearDepartureList($event)"================= -->
    <ion-label class="searchLabels">{{this.home_page_words?.select_departure}}</ion-label>
 
      <ion-searchbar [(ngModel)]="this.googleMaps.departure.input" (ionInput)="this.googleMaps.updateSearchDepartureResults()"  
                      (ionClear)="this.googleMaps.clearDepartureList()" placeholder="Select departure place"></ion-searchbar>
      <ion-list [hidden]="this.googleMaps.autocompleteDeparture.length == 0">
          <ion-item  *ngFor="let item of this.googleMaps.autocompleteDeparture" tappable (click)="this.googleMaps.selectSearchDepartureResult(item)">
            {{ item.description }}
          </ion-item>
      </ion-list>


    <!-- ============================================================================================================ -->
    <!-- ================================   Destination searchbar  ================================================== -->
    <!-- ============================================================================================================ -->
    <ion-label class="searchLabels">{{this.home_page_words?.select_destination}}</ion-label>
    <ion-searchbar [(ngModel)]="this.googleMaps.destination.input" (ionInput)="this.googleMaps.updateSearchDestinationResults()" 
                   (ionClear)="this.googleMaps.clearDestinationList()" placeholder="Select destination place"></ion-searchbar>
    <ion-list  [hidden]="this.googleMaps.autocompleteDestination.length == 0">
        <ion-item  *ngFor="let item of this.googleMaps.autocompleteDestination" tappable (click)="this.googleMaps.selectSearchDestinationResult(item)">
          {{ item.description }}
        </ion-item>
    </ion-list>
    <!-- ============================================================================================================ -->
    <!-- ==============================   Button to start the trip  ================================================= -->
    <!-- ============================================================================================================ -->
    <ion-row >  
        <ion-col  size-xs="8" size-sm="7" size-md="6" size-lg="5" size-xl="3">
          <app-button  [title]="this.home_page_words?.start_trip"  (click)="goToMap()"></app-button>
        </ion-col>
    </ion-row>
</ion-content>
