// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  
  --ion-color-primaryColor: #00225e;
  

  //---------  background Colors ------------//
  --ion-color-backgroundApp: #00225e;


  //-----------  Button Colors --------------//
  --ion-color-appButtonClr: transparent;
  --ion-color-appLogoutClr: ghostwhite;
  --ion-color-appButtonBorderClr: ghostwhite;
  --ion-color-appButtonTextClr:ghostwhite;
  //----------  text colors -----------------//
  --ion-color-appSearchlabels:ghostwhite;
  --ion-color-mapDetailLabel:ghostwhite;
  --ion-color-appToolbarTitle:ghostwhite;

  --ion-color-appAlerterTitle:ghostwhite;
  --ion-color-appAlerterMessage:#00225e;
  --ion-color-appAlerterButtonText:#00225e;
}
